:root {
    --typewriterSpeed: 6s;
    --typewriterCharacters: 24;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 62.5%;
    background: black;
    font-family: 'Azeret Mono', monospace;
}

/* -------------------- nav bar -------------------- */
.nav__bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    color: white;
    z-index: 2;
    position: fixed;
}

.nav__bar--container {
    padding: 2.5em 2em;
    width: 100%;
    max-width: 50rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__bar--logo {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.nav__bar--logo:hover {
    animation: linear__color 2s linear infinite;
}

.nav__bar--toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5em;
    width: 5%;
    min-width: 2rem;
    cursor: pointer;
}

.nav__bar--toggle span {
    border: 1px solid white;
    width: 100%;
    transition: border 1s ease-in;
}

.nav__bar--toggle:hover span {
    animation: linear__color_borded 2s linear infinite;
}

section {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------- home -------------------- */

.container {
    width: 100%;
    max-width: 50rem;
    padding: 2.5em 2em;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container.home h1 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    font-weight: 600;
    position: relative;
    width: fit-content;
}

.container.home p{
    font-size: clamp(0.2rem, 3vw + 0.2rem, 1rem);
    position: relative;
}

.container.home h1::after {
    content: '';
    width: 2px;
    position: absolute;
    right: -5px;
    height: 90%;
    background: white;
    animation: blink 0.7s ease infinite;
}

.container.home h1.inactive::after {
    height: 0;
    width: 0;
    animation: none;
}

.container.home p::after {
    content: '';
    width: 2px;
    position: absolute;
    right: -5px;
    height: 90%;
    background: white;
    animation: blink 0.7s ease infinite;
}

.container.home p.inactive::after {
    height: 0;
    width: 0;
    animation: none;
}

.icon__dow {
    position: absolute;
    bottom: 5px;
    margin: 0 auto;
}

.icon__dow a {
    color: white;
    opacity: 1;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.5s ease-in;
    animation: blinking 2s linear infinite
}

.icon__dow a.hide {
    opacity: 0;
}

/* -------------------- quem somos -------------------- */

.container.quem__somos p {
    font-size: clamp(0.2rem, 3vw + 0.2rem, 1rem);
    position: relative;
    text-align: left;
}

@media (max-width: 32rem){
    .icon__dow {       
        bottom: 55px;
    }
}


@keyframes linear__color_borded {
    0% {
        border: 1px solid white;
        background: white;
    }
    25% {
        border: 1px solid blue;
        background: yellow;
    }
    50% {
        border: 1px solid red;
        background: blue;
    }
    75% {
        border: 1px solid yellow;
        background: red;
    }
    100% {
        border: 1px solid white;
        background: white;
    }
}

@keyframes linear__color {
    0% {
        color: white;
    }
    25% {
        color: yellow;
    }
    50% {
        color: blue;
    }
    75% {
        color: red;
    }
    100% {
        color: white;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blinking {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
