@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=IBM+Plex+Sans+Thai:wght@400;700&display=swap');
:root {
    --main-color: #039685;
    --main-color-variant: #04af9b;
    --white-color: #fff;
    --big-text-color: #024b42;
    --main-font: 'Dancing Script', cursive;
    --nav-font: 'IBM Plex Sans Thai', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.role_para_baixo {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    opacity: .5;
    margin-left: 10px;
}

.role_para_baixo span {
    font-size: 1.2rem;
    margin: 4px 0;
}

.role_para_baixo #infinite {
    animation: blinking 2s infinite;
    margin-top: 0;
}

.menu_toggle {
    display: none;
    color: var(--main-color);
}

.navBar_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 120px;
    position: fixed;
    top: 0;
    left: 0;
    background: none;
    transition: all 0.5s ease-in-out;
    z-index: 2;
    font-family: var(--nav-font);
}

.logo_container a {
    font-size: 4rem;
    text-decoration: none;
    color: var(--main-color);
}

.navlinks_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlinks_container li {
    list-style: none;
}

.navlinks_container li a {
    text-decoration: none;
    margin: 0 1em;
    font-size: 2rem;
    color: var(--main-color);
    position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: var(--main-color);
    width: 110%;
    height: 110%;
    opacity: 0;
    transition: all 0.5s;
    z-index: -1;
}

.nav-link:hover {
    text-decoration: none;
    margin: 0 20px;
    color: var(--white-color);
}

.nav-link:hover::before {
    opacity: 1;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%) scale(1);
}

.nav-link.active {
    text-decoration: none;
    margin: 0 20px;
    font-size: 2.2rem;
    color: var(--white-color);
}

.nav-link.active::before {
    opacity: 1;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%) scale(1);
    background: var( --main-color-variant);
}

.nav-link.active:hover::before {
    background: var(--main-color);
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
}

.bg_fill .backText {
    opacity: 20%;
}

.bg_fill {
    background: var(--main-color-variant);
    color: #fff;
    box-shadow: inset 0px 0px 40px 40px var(--main-color);
}

.container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-family: var(--nav-font);
    flex-direction: column;
    padding: 0 1em;
}

.backText {
    position: absolute;
    content: 'Home';
    font-size: 29rem;
    right: 1%;
    opacity: 5%;
}

.backText.home {
    animation: right_to_left_back_text .8s ease-in-out;
}

#hero_title, #hero_subtitle {
    font-family: var(--main-font);
    color: var(--big-text-color);
}

#hero_title {
    font-size: 10rem;
}

#hero_subtitle {
    font-size: 4rem;
    opacity: .8;
}

.sticky {
    padding: 10px 120px;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

@media(max-width: 780px) {
    .navBar_container {
        padding: 10px;
    }
    .navlinks_container {
        display: none;
    }
    .logo_container a {
        font-size: 3rem;
    }
    .menu_toggle {
        display: block;
    }
    .sticky {
        padding: 5px;
    }
    .container {
        font-size: 2.2rem;
    }
    .backText {
        font-size: 11rem;
    }
    #hero_title {
        font-size: 5.5rem;
    }
    #hero_subtitle {
        font-size: 1.7rem;
        opacity: .8;
    }
    .role_para_baixo span {
        font-size: 1rem;
    }
}

@keyframes right_to_left_back_text {
    from {
        right: -100%;
        opacity: 0;
    }
    to {
        right: 1%;
        opacity: 5%;
    }
}

@keyframes blinking {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
